<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964027440046-p32a700kkhga0o8rsrrvcs8a2q8uqo96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964027440046-p32a700kkhga0o8rsrrvcs8a2q8uqo96</string>
	<key>API_KEY</key>
	<string>AIzaSyDqESLPnt8jIPIJYLhbVySS-VQSkOpmRGE</string>
	<key>GCM_SENDER_ID</key>
	<string>964027440046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.speak.british.english</string>
	<key>PROJECT_ID</key>
	<string>speak-british-english</string>
	<key>STORAGE_BUCKET</key>
	<string>speak-british-english.firebasestorage.app</string>
	<key>DATABASE_URL</key>
	<string>https://speak-british-english-default-rtdb.firebaseio.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:964027440046:ios:78619b6a01eca95f54863f</string>
</dict>
</plist>
